<mat-card>
  <mat-card-header>
    <mat-card-title>Course: </mat-card-title>
  </mat-card-header>

  <form #form="ngForm" (submit)="updateCourse(currentCourse)">
    <mat-card-content>
      <mat-form-field class="full-width">
        <mat-label>Title</mat-label>
        <input
          name="title"
          matInput
          required
          placeholder="Type some title..."
          [(ngModel)]="currentCourse.title"
        />
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Description</mat-label>
        <textarea
          matInput
          required
          rows="5"
          name="description"
          placeholder="Type some description..."
          [(ngModel)]="currentCourse.description"
        ></textarea>
      </mat-form-field>

      <section>
        <mat-checkbox
          [(ngModel)]="currentCourse.favorite"
          name="favorite"
          class="example-margin"
          color="primary"
          >Favorite</mat-checkbox
        >
      </section>
      <section mode="buffer">
        <h4>{{ currentCourse.percentComplete }}% Complete</h4>
        <mat-slider class="wider" discrete>
          <input
            name="percentComplete"
            type="range"
            [(ngModel)]="currentCourse.percentComplete"
            matSliderThumb
          />
        </mat-slider>
      </section>
    </mat-card-content>
    <mat-card-actions>
      <button
        [disabled]="form.invalid"
        type="submit"
        mat-raised-button
        color="primary"
      >
        Save
      </button>
      <button (click)="cancelCourse()" mat-button color="primary">
        Cancel
      </button>

      <!-- <pre>{{ form.value | json }}</pre> -->
    </mat-card-actions>
  </form></mat-card
>
