@import '../../../variables';

.example-container {
  height: calc(100% - 64px);
  position: absolute;
  background-color: transparent;
  width: 100%;
  cursor: pointer;
}

.example-sidenav {
  padding-top: 2rem;
  width: 20%;
  border-bottom-right-radius: 10px;
  background: $main-color;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  z-index: 4;
  cursor: auto;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.routes-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.nav-link {
  text-decoration: none;
  font-size: 1.5rem;
  width: 100%;
  color: #fff;
}

a {
  color: #fff !important;
}

a:hover {
  color: rgb(221, 221, 221) !important;
}

.hidden {
  background-color: transparent;
  cursor: auto;
}
