<mat-card>
  <mat-card-header>
    <mat-card-title *ngIf="currentCourse?.title; else elseBlock">
      {{ originalTitle | titlecase }}</mat-card-title
    >
    <ng-template #elseBlock>
      <mat-card-title>Select course:</mat-card-title>
    </ng-template>
  </mat-card-header>

  <form #form="ngForm" (submit)="saveCourse(currentCourse)">
    <mat-card-content>
      <mat-form-field class="full-width">
        <mat-label>Title</mat-label>
        <input
          name="title"
          matInput
          required
          placeholder="Type some title..."
          [(ngModel)]="currentCourse.title"
        />
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Description</mat-label>
        <textarea
          matInput
          required
          rows="3"
          name="description"
          placeholder="Type some description..."
          [(ngModel)]="currentCourse.description"
        ></textarea>
      </mat-form-field>

      <section>
        <mat-checkbox
          [(ngModel)]="currentCourse.favorite"
          name="favorite"
          class="form-checkbox"
          color="primary"
          >Favorite</mat-checkbox
        >
      </section>
      <section mode="buffer">
        <p class="card-title">{{ currentCourse.percentComplete }}% Complete</p>
        <mat-slider class="wider" discrete>
          <input
            name="percentComplete"
            type="range"
            [(ngModel)]="currentCourse.percentComplete"
            matSliderThumb
          />
        </mat-slider>
      </section>
    </mat-card-content>
    <mat-card-actions>
      <button
        [disabled]="form.invalid"
        type="submit"
        mat-raised-button
        color="primary"
      >
        Save
      </button>
      <button type="button" (click)="form.reset()" mat-button color="primary">
        Cancel
      </button>
    </mat-card-actions>
  </form></mat-card
>
