.main-view {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
  margin: 2rem;
}

.wide {
  flex: 1;
}

@media screen and (max-width: 900px) {
  .main-view {
    flex-direction: column;
  }
}
