<mat-toolbar class="toolbar" color="primary">
  <div class="toolbar-section1">
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <img class="logo" src="assets/nsp2.jpg" />
  </div>

  <span class="example-spacer"></span>
  <div class="toolbar-buttons">
    <button
      mat-icon-button
      class="example-icon favorite-icon"
      aria-label="Example icon-button with heart icon"
    >
      <mat-icon color="background">favorite</mat-icon>
    </button>
    <mat-slide-toggle (change)="onDarkModeSwitched($event)"
      >Mode</mat-slide-toggle
    >
  </div>
</mat-toolbar>
