<mat-toolbar class="toolbar" color="primary">
  <div class="toolbar-section1">
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <img class="logo" src="assets/nsp2.jpg" />
  </div>

  <span class="example-spacer"></span>
  <div class="toolbar-buttons">
    <button
      mat-icon-button
      class="example-icon favorite-icon"
      aria-label="Example icon-button with heart icon"
    >
      <mat-icon>favorite</mat-icon>
    </button>
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with share icon"
    >
      <mat-icon>share</mat-icon>
    </button>
  </div>
</mat-toolbar>
