<mat-toolbar class="toolbar" color="primary">
  <div class="toolbar-section1">
    <button
      mat-icon-button
      class="example-icon"
      (click)="onToggleSidenav()"
      aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <img [routerLink]="'home'" class="logo" src="assets/nsp2.jpg" alt="nsp" />
  </div>

  <span class="example-spacer"></span>
  <div class="toolbar-buttons">
    <app-modal></app-modal>
    <mat-slide-toggle
      [checked]="isDarkTheme"
      color="primary"
      (change)="toggleTheme()"></mat-slide-toggle>
  </div>
</mat-toolbar>
<app-drawer
  (drawerToggled)="onToggleSidenav()"
  *ngIf="showSidenav"></app-drawer>
