.toolbar {
  display: flex;
  justify-content: space-between;
  background-color: #0195ff;
  color: white;
}

.toolbar-section1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.toolbar-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 50px;
  cursor: pointer;
}
