@import "../../../variables";

.main-container {
  display: flex;
  gap: 2rem;
  align-items: flex-start;
  margin: 4rem;
}

.lessons-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
  flex: 1;
}

.lesson-details {
  flex: 1;
}

.lesson {
  cursor: pointer;
  margin: 1rem;
}

.lesson:hover {
  opacity: 0.8;
}

.call-to-action {
  color: $main-color;
}

.button-bg {
  background-color: #ff8040 !important;
}
