@use "@angular/material" as mat;
@include mat.core();
@import "variables.scss";

.lightTheme {
  $light-accent: mat.define-palette(mat.$indigo-palette, A200, A100, A400);
  $light-theme: mat.define-light-theme(
    (
      color: (
        primary: $primary,
        accent: $light-accent,
        warn: $warn,
      ),
    )
  );

  @include mat.all-component-themes($light-theme);
}

.darkTheme {
  $dark-accent: mat.define-palette(mat.$indigo-palette, A200, A100, A400);
  $dark-theme: mat.define-dark-theme(
    (
      color: (
        primary: $primary,
        accent: $dark-accent,
        warn: $warn,
      ),
    )
  );

  @include mat.all-component-themes($dark-theme);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: normal;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: rgb(236, 236, 236);
}

.full-width {
  width: 100%;
}

mat-card {
  border-radius: 10px !important;
  padding: 0.5rem;
}

mat-list-item {
  height: 100px !important;
  display: flex;
}

mat-list-item:hover {
  cursor: pointer !important;
  transition: background 0.3s ease;
  background: rgb(1, 162, 255);
}

mat-list-item:not(:first-of-type) {
  border-top: 1px solid #efefef;
}

mat-card-header {
  font-size: 1.5rem;
  font-weight: bold;
}
