<mat-card>
  <mat-card-header>
    <mat-card-title>Course List</mat-card-title>
    <!-- <h1 class="test">Test</h1> -->
  </mat-card-header>

  <mat-card-content>
    <mat-list>
      <mat-list-item
        *ngFor="let course of courses"
        (click)="selectCourse(course)"
      >
        <div class="rows">
          <div class="titles">
            <h3 class="row-title">{{ course.title | titlecase }}</h3>
            <p class="row-description">{{ course.description }}</p>
          </div>
          <div>
            <button
              (click)="
                deleteCourse(course.id); $event.stopImmediatePropagation()
              "
              mat-icon-button
              color="warn"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
