.drawer {
  width: 20%;
  height: 100%;
  z-index: 3;
  position: absolute;
  background: rgba(214, 202, 202, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: flex-start;
  padding-top: 3rem;
}

.nav-link {
  text-decoration: none;
  font-size: 1.5rem;
}

.drawer-overlay {
  background-color: black;
  opacity: 0.5;
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 2;
  margin-left: 20%;
  cursor: pointer;
}
